@{
    ViewData["Title"] = "Index";
}

<div class="Bienvenida">
    <h1>Bienvenido a ORTWorld</h1>
    <nav>
    <li> <a href='@Url.Action("SelectPaquete")'>Crear Paquete</a> </li>

    </nav>
</div>

@if (ViewBag.Paquetes != null && ((Dictionary<string, Paquete>)ViewBag.Paquetes).Count > 0)
{
    <h2>Paquetes disponibles:</h2>
    <ul>
        @foreach (KeyValuePair<string, Paquete> paquete in (Dictionary<string, Paquete>)ViewBag.Paquetes)
        {
            <li>
                <h3>Destino: @paquete.Key</h3>
                <p>Hotel: @paquete.Value.Hotel</p>
                <p>Aéreo: @paquete.Value.Aereo</p>
                <p>Excursión: @paquete.Value.Excursion</p>
            </li>
        }
    </ul>
}
else
{
    <p>No hay paquetes disponibles.</p>
}
